@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "filter result result result";
  gap: 20px;
}

.result-card-wrapper {
  min-width: 95% !important;
  min-height: 30rem;
  &:hover {
    cursor: pointer;
  }
}

.filter {
  grid-area: filter;
}

.search {
  grid-area: search;
  margin-bottom: 1rem;
}

.result {
  grid-area: result;
  max-height: 90vh;
  overflow: auto;
}

.content-wrapper {
  margin: 0 4rem;
}

.metadata {
  margin: 2rem;
  background-color: lightgray;
}
